# Default values for stunner-gateway-operator.

# To set the namespace for the deployment use the --namespace=<your-namespace> --create-namespace
# additional commands when installing your release
# It will create the desired namespace if not present

stunnerGatewayOperator:
  enabled: true
  customerKey: ""
  deployment:
    name: stunner-gateway-operator
    podLabels: {}
    podAnnotations: {}
    tolerations: []
    nodeSelector:
      kubernetes.io/os: linux
    imagePullSecrets:
#      - name: docker-registry-secret
    securityContext:
      runAsNonRoot: true
    container:
      manager:
        image:
          name: docker.io/l7mp/stunner-gateway-operator
          pullPolicy: IfNotPresent
          tag: 1.1.0
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 128Mi
        args:
          - --health-probe-bind-address=:8081
          - --metrics-bind-address=127.0.0.1:8080
          - --leader-elect
          - --zap-log-level=info
        securityContext:
          allowPrivilegeEscalation: false
  dataplane:
    # Can be 'legacy' or 'managed'
    # default is managed
    mode: managed
    spec:
      replicas: 1
      # for dev version set it to docker.io/l7mp/stunnerd:dev
      image:
        name: docker.io/l7mp/stunnerd
        pullPolicy: IfNotPresent
        tag: 1.1.0
      imagePullSecrets:
        # - name: docker-registry-secret
      command:
        - stunnerd
      args:
        - -w
        - --udp-thread-num=16
      env: []
      resources:
        limits:
          cpu: 2
          memory: 512Mi
        requests:
          cpu: 500m
          memory: 128Mi
      terminationGracePeriodSeconds: 3600
      enableMetricsEndpoint: false
      hostNetwork: false
      labels: {}
      annotations: {}
      affinity: {}
      containerSecurityContext: {}
      securityContext: {}
      tolerations: []

stunnerAuthService:
  enabled: true
  deployment:
    podLabels: {}
    podAnnotations: {}
    tolerations: []
    replicas: 1
    nodeSelector:
      kubernetes.io/os: linux
    imagePullSecrets:
    #  - name: docker-registry-secret
    container:
      authService:
        securityContext:
          runAsNonRoot: true
        image:
          name: docker.io/l7mp/stunner-auth-server
          pullPolicy: IfNotPresent
          tag: 1.1.0
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        args:
          - --port=8088
          - -v
