# Default values for stunner-gateway-operator.

# To set the namespace for the deployment use the --namespace=<your-namespace> --create-namespace
# additional commands when installing your release
# It will create the desired namespace if not present

stunnerGatewayOperator:
  enabled: true
  deployment:
    name: stunner-gateway-operator
    tolerations: []
    nodeSelector:
      kubernetes.io/os: linux
    container:
      manager:
        image:
          repository: ""
          name: l7mp/stunner-gateway-operator
          pullPolicy: IfNotPresent
          tag: 0.15.0
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 128Mi
        args:
          - --health-probe-bind-address=:8081
          - --metrics-bind-address=127.0.0.1:8080
          - --leader-elect
          - --zap-log-level=info
      kubeRbacProxy:
        image:
          name: gcr.io/kubebuilder/kube-rbac-proxy:v0.11.0

stunnerAuthService:
  enabled: true
  deployment:
    tolerations: []
    nodeSelector:
      kubernetes.io/os: linux
