{{- if eq .Values.stunnerAuthService.enabled true}}
{{- with .Values.stunnerAuthService }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stunner-auth
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  labels:
    app: stunner-auth
spec:
  selector:
    matchLabels:
      app: stunner-auth
  replicas: {{ .deployment.replicas }}
  template:
    metadata:
      {{- with $.Values.stunnerAuthService.deployment.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: stunner-auth
        {{- with $.Values.stunnerAuthService.deployment.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: stunner-auth-server
          image: "{{ .deployment.container.authService.image.name }}:{{ .deployment.container.authService.image.tag }}"
          imagePullPolicy: {{ .deployment.container.authService.image.pullPolicy }}
          command: [ "./authd" ]
          args:
          - --cds-server-address=stunner-config-discovery.{{ $.Values.namespace | default $.Release.Namespace }}.svc
          {{- range $.Values.stunnerAuthService.deployment.container.authService.args }}
          - {{ . }}
          {{- end }}
          {{- with .deployment.container.authService.securityContext }}
          securityContext: {{- toYaml . | nindent 12 }}
          {{- end }}
          resources: {{- toYaml .deployment.container.authService.resources | nindent 12 }}
      nodeSelector: {{- toYaml .deployment.nodeSelector | nindent 8 }}
      tolerations: {{- toYaml .deployment.tolerations | nindent 8 }}
      {{- with .deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: stunner-auth
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  labels:
    app: stunner-auth
spec:
  selector:
    app: stunner-auth
  ports:
    - name: stunner-auth-server
      port: 8088
  type: ClusterIP
{{- end }}
{{- end -}}
