{{- if eq .Values.stunnerAuthService.enabled true}}
{{- with .Values.stunnerAuthService }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stunner-auth
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  labels:
    app: stunner-auth
spec:
  selector:
    matchLabels:
      app: stunner-auth
  replicas: 1
  template:
    metadata:
      labels:
        app: stunner-auth
    spec:
      terminationGracePeriodSeconds: 10
      containers:
        - name: stunner-auth-server
          image: "{{ .deployment.container.authService.image.name }}:{{ .deployment.container.authService.image.tag }}"
          imagePullPolicy: Always
          command: [ "./authd" ]
          args:
          - --cds-server-address=stunner-config-discovery.{{ $.Values.namespace | default $.Release.Namespace }}.svc
          {{- range $.Values.stunnerAuthService.deployment.container.authService.args }}
          -  {{ . }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          resources:
            limits:
              cpu: 200m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      nodeSelector: {{- toYaml .deployment.nodeSelector | nindent 8 }}
      tolerations: {{- toYaml .deployment.tolerations | nindent 8 }}
---
apiVersion: v1
kind: Service
metadata:
  name: stunner-auth
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  labels:
    app: stunner-auth
spec:
  selector:
    app: stunner-auth
  ports:
    - name: stunner-auth-server
      port: 8088
  type: ClusterIP
{{- end }}
{{- end -}}
