{{- if eq .Values.stunnerGatewayOperator.dataplane.mode "managed"}}
{{- with .Values.stunnerGatewayOperator.dataplane.spec }}
apiVersion: stunner.l7mp.io/v1alpha1
kind: Dataplane
metadata:
  name: default
spec:
  image: {{ .image }}
  imagePullPolicy: {{ .imagePullPolicy }}
  command:
    {{- range .command }}
    - {{ . }}
    {{- end }}
  args:
    - -w
    - --udp-thread-num=16
  {{- with .env }}
  env: {{- toYaml . | nindent 2 }}
  {{- end }}
  resources: {{- toYaml .resources | nindent 4 }}
  terminationGracePeriodSeconds: {{ .terminationGracePeriodSeconds }}
  hostNetwork: {{ .hostNetwork }}
  {{- with .affinity }}
  affinity: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .securityContext }}
  securityContext: {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .tolerations }}
  tolerations: {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end -}}
{{- end -}}
