---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: stunner-gateway-operator-controller-manager
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: stunner-gateway-operator-leader-election-role
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stunner-gateway-operator-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - endpoints
  - endpoints/status
  - namespaces
  - nodes
  - nodes/status
  - secrets
  - services/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets/finalizers
  - daemonsets/status
  - deployments/finalizers
  - deployments/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - discovery.k8s.io
  resources:
  - endpointslices
  - endpointslices/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses
  - gateways
  - udproutes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gatewayclasses/status
  - gateways/status
  - udproutes/status
  verbs:
  - patch
  - update
- apiGroups:
  - stunner.l7mp.io
  resources:
  - dataplanes
  - gatewayconfigs
  - staticservices
  - udproutes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stunner.l7mp.io
  resources:
  - staticservices/finalizers
  - udproutes/finalizers
  - udproutes/status
  verbs:
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stunner-gateway-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stunner-gateway-operator-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: stunner-gateway-operator-leader-election-rolebinding
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: stunner-gateway-operator-leader-election-role
subjects:
- kind: ServiceAccount
  name: stunner-gateway-operator-controller-manager
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stunner-gateway-operator-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: stunner-gateway-operator-manager-role
subjects:
- kind: ServiceAccount
  name: stunner-gateway-operator-controller-manager
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stunner-gateway-operator-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: stunner-gateway-operator-proxy-role
subjects:
- kind: ServiceAccount
  name: stunner-gateway-operator-controller-manager
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: stunner-gateway-operator-manager-config
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 92062b70.l7mp.io
---
{{- if ne .Values.stunnerGatewayOperator.customerKey "" -}}
apiVersion: v1
kind: Secret
metadata:
  name: stunner-gateway-operator-customer-secret
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
type: Opaque
data:
  CUSTOMER_KEY: {{ .Values.stunnerGatewayOperator.customerKey | b64enc }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: stunner-gateway-operator-controller-manager
  name: stunner-gateway-operator-controller-manager-metrics-service
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: stunner-gateway-operator-controller-manager
---
apiVersion: v1
kind: Service
metadata:
  labels:
    stunner.l7mp.io/config-discovery-service: "true"
  name: stunner-config-discovery
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
spec:
  ports:
  - name: cds
    port: 13478
    protocol: TCP
  selector:
    control-plane: stunner-gateway-operator-controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: stunner-gateway-operator-controller-manager
  name: stunner-gateway-operator-controller-manager
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: stunner-gateway-operator-controller-manager
  template:
    metadata:
      annotations:
        {{- with .Values.stunnerGatewayOperator.deployment.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: stunner-gateway-operator-controller-manager
        stunner.l7mp.io/config-discovery-service: enabled
        {{- with .Values.stunnerGatewayOperator.deployment.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
      - args:
        {{- range $.Values.stunnerGatewayOperator.deployment.container.manager.args }}
        -  {{ . }}
        {{- end }}
        -  --dataplane-mode={{.Values.stunnerGatewayOperator.dataplane.mode }}
        command:
        - /manager
        env:
        - name: STUNNER_GATEWAY_OPERATOR_ADDRESS
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        {{- if ne .Values.stunnerGatewayOperator.customerKey "" }}
        - name: CUSTOMER_KEY
          valueFrom:
            secretKeyRef:
              key: CUSTOMER_KEY
              name: stunner-gateway-operator-customer-secret
              optional: true
        {{- end }}
        image: "{{ .Values.stunnerGatewayOperator.deployment.container.manager.image.name }}:{{ .Values.stunnerGatewayOperator.deployment.container.manager.image.tag }}"
        imagePullPolicy: {{ .Values.stunnerGatewayOperator.deployment.container.manager.image.pullPolicy }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 1
        name: manager
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /readyz
            port: 8081
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources: {{- toYaml .Values.stunnerGatewayOperator.deployment.container.manager.resources | nindent 10 }}
        ports:
        - containerPort: 13478
          name: cds
          protocol: TCP
        securityContext: {{- toYaml .Values.stunnerGatewayOperator.deployment.container.manager.securityContext | nindent 10 }}
      securityContext: {{- toYaml .Values.stunnerGatewayOperator.deployment.securityContext | nindent 8 }}
      serviceAccountName: stunner-gateway-operator-controller-manager
      serviceAccount: stunner-gateway-operator-controller-manager
      terminationGracePeriodSeconds: 10
      {{- with .Values.stunnerGatewayOperator.deployment.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stunnerGatewayOperator.deployment.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.stunnerGatewayOperator.deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
